---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <br/>
        <img class="post-image" src="/img/{{ post.image }}" />
        <br/>

        {{ post.excerpt }}
        <span class="post-meta"></span>
        <a class="post-link button small" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      </li>
    {% endfor %}
  </ul>

  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="arrow"><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
    {% else %}
      <li class="arrow"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">&laquo;</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
     {% if page == paginator.page %}
       <li class="current"><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
     {% elsif page == 1 %}
       <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
     {% else %}
       <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
     {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="arrow"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% else %}
      <li class="arrow"><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
    {% endif %}
  </ul>

</div>

<br/><br/>
