
<p>Welcome to the Boone Community Network.  We appreciate you joinging our community!</p>

<p>
  Click <%= link_to 'here', user_url(@user, host: 'bcn.thehoick.com') %> to update your profile.
  <br/>
  Click <%= link_to 'here', new_post_url(host: 'bcn.thehoick.com') %> to start sharing.
</p>

<p>Welcome once again, and have a great day!</p>
