
<p>Welcome to the Boone Community Network.  We appreciate you joinging our community!</p>

<p>
  Click <%= link_to 'here', user_url(@user) %> to update your profile.
  <br/>
  Click <%= link_to 'here', new_post_url %> to start sharing.
</p>

<p>Welcome once again, and have a great day!</p>