
<div class="columns large-6">
  <h2>Badges</h2>
  <br/><br/>

  <ul class="organizations no-disc">
    <% @badges.each do |badge| %>
      <li>
        <div class="row">

          <div class="columns large-2">
            <%= link_to badge do %>
              <%= image_tag badge.image.url, class: 'badge' %>
            <% end %>
          </div>

          <div class="columns large-10">
            <%= badge.name %>
            <br/>
            <span class="grey"><%= badge.description %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
