
<div class="columns large-12">
  <h2>Badges</h2>

  <ul class="no-disc">
    <% @badges.each do |badge| %>
      <li>
        <%= link_to :badge do %>
          <%= image_tag badge.image_url %>
          <br/>
          <%= badge.name %>
          <br/>
          <p class="grey"><%= badge.rule %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
