<%= form_for(@user, :builder => FoundationFormBuilder) do |f| %>



  <%= f.password_field :password, placeholder: 'New Password' %>


    <div class="row">
      <div class="large-4 columns actions">
        <%= button_tag type: 'submit', class: 'button small success' do %>
            <%= image_tag 'save-icon.svg', class: 'ty-icon' %>
            &nbsp;
            Update Password
        <% end %>
      </div>
    </div>


<% end %>