<div class="small-12 large-12 columns">

<h3>Edit Profile</h3>
<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#settings">Settings</a></li>
  <li class="tab-title" id="changePassowrd"><a href="#cp">Change Password</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="settings">
    <%= render 'edit_form' %>
  </div>
  <div class="content" id="cp">
    <%= render 'change_password_form' %>
  </div>
</div>


<%= link_to 'Cancel', user_path(@user) %>
<br/><br/>

<% if current_user == @user || (current_user && current_user.admin?) %>
    <h5><small>
      <%= link_to 'Delete Account', @user, method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'delete' %>
    </small></h5>
<% end %>

<br/><br/>
</div>
