<h4>Do you have a Facebook account?</h4>

<%= link_to "Register with Facebook", '/auth/facebook', :class => 'button small success' %>


<h4>Do you have a Twitter account?</h4>

<%= link_to "Register with Twitter", '/auth/twitter', :class => 'button small success', :id => 'twitter_login' %>

<h4>Do you have a Google account?</h4>

<%= link_to "Register with Google", '/auth/google', :class => 'button small success', :id => 'google_login' %>


<hr/>

<h4>Register With Email</h4>

<%= render 'form' %>

