<h4>Do you have a Facebook account?</h4>

<%= link_to "Register with Facebook", '/auth/facebook', :class => 'button small success' %>


<h4>Do you have a Twitter account?</h4>

<a href="#">Register with Twitter</a>


<hr/>

<h4>Register With Email</h4>

<%= render 'form' %>

