<p>
    There are some things you will want to  change about your BCN profile which you can do on the profile page.
</p>

<ul class="help-steps">
    <li>
        Click the profile picture, or if you haven't uploaded a picture the word "Profile", in the upper right hand
        corner of the menu.

        <%= image_tag image_path('help/user_profile_button.png'), size: '300x200', class: 'help-img' %>
    </li>
    <li>
        Click the Edit button to make changes to your profile.

        <%= image_tag image_path('help/user_edit_button.png'), size: '300x200', class: 'help-img' %>
    </li>
    <li>
        On the edit page fill out the form with more details, upload a new profile picture, etc.

        <%= image_tag image_path('help/user_form.png'), size: '300x200', class: 'help-img' %>

        <strong>Note:</strong> you can also change your password on the profile edit page.
    </li>
</ul>