<p>
  Organizations are very similar to people, but also allow you to "Join" them and become part of the organization.  At
  least in the context of the BCN website.
</p>

<ul class="help-steps">
  <li>
    To join an Organization hover over the "Communities" menu link and selct "Organizations" from the  drop down.
    <%= image_tag image_path('help/org_menu_link.png'), size: '300x200', class: 'help-img' %>
  </li>
  <li>
    Find the Organization you'd like to join in the list and click it's name, or click the Organization's image.
  </li>
  <li>
    On the Organization's page click the "Join Organization Name" button.
    <%= image_tag image_path('help/org_join_button.png'), size: '300x200', class: 'help-img' %>
  </li>
</ul>


<p>
  You will now be part of the Organization and can create posts and comments as the Organization.
</p>

<p>
  Click the "Subscribe" button to receive notifications when there are new posts by the Organization.
</p>

<%= image_tag image_path('help/org_subscribe_button.png'), size: '300x200', class: 'help-img' %>
