
<div class="row">
  <div class="large-8 columns">
    <h2>Who We Are</h2>
    <p>
      Boone Community Network is dedicated to bringing together the wide-ranging beautiful facets of Boone.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h2>Mission and Vision</h2>
    <p>
      <strong>Vision:</strong> A connected, thriving, and resilient High Country.
    </p>
    <p>
      <strong>Mission:</strong> To create spaces within our local community that encourage networking and
      support positive change.
    </p>
  </div>
</div>
