
<div class="row">
  <div class="large-12 columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#posts">Posts</a></li>
      <li class="tab-title"><a href="#users">Your Profile</a></li>
      <li class="tab-title"><a href="#organizations">Organizations</a></li>
      <li class="tab-title"><a href="#events">Event Posts</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="posts">
        <div id="posts">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#creating_posts">Creating Posts</a></li>
            <li class="tab-title"><a href="#post_form">New Post Form</a></li>
            <li class="tab-title"><a href="#editing_posts">Editing Posts</a></li>
          </ul>

          <div class="tabs-content">
            <div class="content active" id="creating_posts">
              <%= render 'help_posts' %>
            </div>
          </div>

        </div>
      </div>
      <div class="content" id="users">
        <%= render 'help_users' %>
      </div>
      <div class="content" id="organizations">
        <%= render 'help_organizations' %>
      </div>
      <div class="content" id="events">
        <%= render 'help_events' %>
      </div>
    </div>
  </div>
</div>

