<h1>Editing Post: <span class='title'><%= @post.title %></span></h1>

<%= render 'form' %>

<%= link_to 'Delete', @post, method: :delete, :class => 'delete', data: { confirm: 'Are you sure?' } %>

<br/><br/>