<div class="small-12 large-12 columns">

  <h1>Posts</h1>

  <ul class="posts no-bullet">
    <% @posts.each do |post| %>
        <%= render 'layouts/posts_list', post: post %>
    <% end %>
  </ul>

  <br/><br/>

  <%= will_paginate @posts, renderer: FoundationPagination::Rails %>
  <br/><br/>
</div>