/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require sweet-alert
 *= require leaflet
 *= require colpick

 */

@import 'foundation_and_overrides';
@import 'colors';

body {
  height: auto;
}

div.main {
  margin-top: 40px;
  padding-top: 20px;
}


footer {
  background: $oil;
  color: #ffffff;
  padding: 40px 0px 60px 0px;
}

.white {
  color: #ffffff;
}

.google {
  background-color: $google;
  &:hover {
    background-color: darken($google, 15%);
  }
}

.twitter {
  background-color: $twitter;
  &:hover {
    background-color: darken($twitter, 15%);
  }
}

.facebook {
  background-color: $facebook;
  &:hover {
    background-color: darken($facebook, 15%);
  }
}

.avatar {
  border: 1px solid $oil;
  width: 150px;
}

a.grey-link {
  color: darken($gray, 10%) !important;
}

.image-link {
  width: 50px;
  height: 50px;
  padding: 5px;

  &:hover {
    opacity: .7;
  }
}

.ty-icon {
  width: 13px;
}

.sm-icon {
  width: 35px !important;
  padding: 3px;
}

.icon {
  width: 55px;
}

.lg-icon {
  width: 65px;
}

.delete, .grey {
  color: $gray;
}

.nav-profile-pic {
  height: 35px;
  border: none;
  margin-right: 5px;
  vertical-align: middle;
}

.smaller-text {
  font-size: $paragraph-font-size - .2rem;
}