@import 'colors';

.badge-image {
  max-width: 150px;
}

img.badge-thumb {
  max-width: 50px;
}

.inline {
  display: inline;
}

.success {
  color: $hse-dark-green
}

.badge-display {
  display: inline-block;
  width: 75px;
  text-align: center;
  color: $hse-dark-green;
}
