/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'application';
@import 'colors';

.communities {
  li {
    margin-top: 20px;
  }

  ul.vcard {
    li {
      padding: 5px;
    }
  }

  .community-title {
      font-size: $h4-font-size;
  }
}

.community-image {
}

.social {
    a img {
        width: 50px;
        height: 50px;
        padding: 5px;

        &:hover {
            opacity: .7;
        }
    }
}

.join-community { display: inline; }

.member-list {
  li {
    margin-bottom: 20px;
    padding: 5px;
  }
  li:nth-child(odd) {
    background: lighten($light-gray, 5);
  }
}