/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'application';
@import 'colors';

.communities, .organizations {
  li {
    margin-top: 20px;
    padding: 20px;
  }

  li:nth-child(odd) {
    background: lighten($light-gray, 5);
  }

  .community-title, .organization-title {
      font-size: $h4-font-size;
  }
}

@media only screen and (max-width: 40em) {
  .communities { margin: 0 }
  .community-meta { margin-top: 10px; }
}

.community-image {
  max-width: 300px;
}

.social {
    a img {
        width: 50px;
        height: 50px;
        padding: 5px;

        &:hover {
            opacity: .7;
        }
    }
}

.join-community, .join-organization { display: inline; }

.leave-community-form input {
  vertical-align: bottom;
}

.member-list {
  li {
    margin-bottom: 20px;
    padding: 5px;
  }
  li:nth-child(even) {
    background: lighten($light-gray, 5);
  }
}

.columns.community-meta { padding-left: 0; }