@import 'application';
@import 'colors';

.communities, .organizations {
  li {
    margin-top: 20px;
    padding: 20px;
  }

  li:nth-child(odd) {
    background: lighten($light-gray, 5);
  }

  .community-title, .organization-title {
      font-size: $h4-font-size;
  }
}

@media only screen and (max-width: 40em) {
  .communities { margin: 0 }
  .community-meta { margin-top: 10px; }
}

.community-image {
  max-width: 300px;
}

.social {
    a img {
        width: 50px;
        height: 50px;
        padding: 5px;

        &:hover {
            opacity: .7;
        }
    }
}

.join-community, .join-organization { display: inline; }

.leave-community-form input {
  vertical-align: bottom;
}

.member-list {
  li {
    margin-bottom: 20px;
    padding: 5px;
  }
  li:nth-child(even) {
    background: lighten($light-gray, 5);
  }
}

.columns.community-meta { padding-left: 0; }

.community-link {
  padding-right: 0 !important;
}

//.tabs .tab-title > a { display: inline-block !important; }

.secondary-tabs {
  .tabs {
    i {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
    text-align: center;
    //li {
    //  width: 25%;
    //  &:hover i {
    //    font-size:2rem;
    //  }
    //}
    .tab-title > a {
      //background-color:#ffffff;
      outline:none;
      font-size: 1.5rem;
      //box-shadow: 0 2px 4px rgba(0,0,0,0.15);
      padding-bottom: 1.6rem;
      padding-top: 1.2rem;
      padding-left: 10px;
      //color: #1E824C;
      display: inline;
    }
  }
  .tabs-content {
    h3 {
      margin-left: 2.7rem;
    }
    h5 {
      color: #e74c3c;
      margin-left: 2.7rem;
    }
    p {
      margin-bottom: 0.2rem;
    }
    .switch {
      margin-bottom: 1rem;
    }
    //border: 1px solid #999;
    border-top: none;
  }
}
