@import 'application';
@import 'colors';

$black: #252525;
#map {
  height: 500px;
  width: 100%;
  border: 3px solid $topbar-bg-color;
}

#map.new-post-map {
  height: 300px;
}


.posts {
  .post-title {
    font-size: $h4-font-size;
  }

  .post-text {
    padding-left: 10px;
  }

  .post-location {
    padding-left: 10px;
    color: $gray;
  }

  .post-communities {
    padding-left: 10px;
    display: inline;
  }

  li {
    padding: 10px 5px;
    margin: 20px 0px;
  }
  li:nth-child(even) {
    background: lighten($light-gray, 5);
  }
}

.intro {
  h3, h4 {
    color: white;
  }
  padding: 20px;
  color: white;
  background-color:rgba(178, 178, 178, 0.7);
}

.main-video {
  video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(/videos/bcn_movie-2.mp4) no-repeat;
    background-size: cover;
  }
}

.alert {
  background-color: $alert;
  color: #ffffff;
  padding: 5px;
  font-size: 16px;
}

div.leaflet-popup-content {
  img {
    width: 130px;
  }
}

.marker-div-icon {
  width: 30px !important;
  height: 55px !important;
}

.leaflet-container a {
  color: $primary-color;
}

.communities-wrapper {
  display: inline;
}


.map-set {
  margin-bottom: 10px;
  padding: 10px;

  #home_loc_search {
    margin-bottom: 8px;
  }

  .loc-search-button {
    margin-bottom: 8px;
  }
}

div.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-right-padding { padding-right: 0 !important; }
.no-left-padding { padding-left: 0 !important; }

a.button.map-button, .map-button {
  margin-bottom: 2px;
  margin-right: -1px;
  margin-left: -1px;
}

.time-button-list {
  max-width: 300px;
  @media (max-width: 790px) {
    max-width: 100%;
  }
}

.community-button-list {
  max-width: 460px;
}

.help-steps li {
  margin-bottom: 20px;
}
.help-img {
  border: 1px solid $hse-orange;
  display: block;
  margin: 10px 0;
}

@media (max-width: 420px) {

  .map-wrap {
    //width: 370px;
  }

  .map-container {
    margin: auto;
    //padding: 0 10px;
    margin-bottom: 20px;
  }
}

#search_query::-webkit-input-placeholder {
  font-size: 10px;
  vertical-align: middle;
}

#search_query::-moz-placeholder { /* Firefox 18- */
  font-size: 10px;
  vertical-align: middle;
}

#search_query::-moz-placeholder {  /* Firefox 19+ */
  font-size: 10px;
  vertical-align: middle;
}

#search_query::-ms-input-placeholder {
  font-size: 10px;
  vertical-align: middle;
}