/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'colors';


.hidden { display: none; }

.comment-photo {
  width: 100px;
  border: 2px solid $oil;
}

.comment-comment, .new-comment {
  margin-left: 80px;
}