/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'colors';
@import 'foundation_and_overrides';

//$tabs-navigation-padding: rem-calc(8);
//$tabs-navigation-font-size: rem-calc(12);

//.new-post {
//  &:hover {
//    background: $light-gray;
//  }
//}

.hidden { display: none; }

.comment-photo {
  width: 100px;
  border: 2px solid $oil;
}

.comments {
  margin-left: 60px;
  max-width: 900px;
}

@media (max-width: 700px) {
  margin-left: 0px;
}

.comment {
  border-left: 1px solid $light-gray;
  border-bottom: 1px solid $oil;

  padding-left: 10px;
  margin-bottom: 20px;
}

.comment-meta {
  margin-bottom: 10px;
}

//ui-autocomplete ui-front ui-menu ui-widget ui-widget-content {

li.ui-menu-item {
  background: #ffffff;
  padding: 8px;
  font-size: 0.875rem;
  width: 369px;

  &:active, &:hover, &:focus {
    background: $light-gray;
    //color: darken(#ffffff, 30%);
  }
}

ul.ui-autocomplete {
  list-style: none;
  width: 360px;
  font-size: 0.875rem;
  border: 1px solid #CCCCCC;
  box-shadow: 0 6px 6px -3px $oil;
}

.title {
  //color: darken($blue, 10%);
  color: $primary-color;
}

li.post.row {
  margin-bottom: 20px;
}

.post-user-image {
  vertical-align: middle;
  margin-left: 10px;

  img {
    vertical-align: middle;
  }
}

.post-avatar {
  width: 36px;
}

.columns.right.post-meta-container {
  padding-right: 0px;
}

.post-meta {
  border: 1px solid $oil;
  padding: 4px;
  font-size: $small-font-size;

  span {
    vertical-align: bottom;
    line-height: 16px;
  }
}

.columns.left.post-objects {
  padding-left: 0px;
}

.icon.post-edit {
  margin-top: 20px;
  width: 65px;
}

#map.post-map {
  height: 300px;
}
#map.post-map-large {
  height: 550px;
}

.map-container {
  margin-bottom: 40px;
}

button.expand-map {
  margin-top: 10px;
}

.no-disc {
  list-style: none;
}

.location-details {
  font-size: $form-label-font-size;
}

button.hidden {
  display: none;
}

.image-row {
  padding: 20px 0;
}

.og-data {
  border: 1px solid $oil;
  padding: 5px;
  margin-bottom: 16px;
}

.og-row {
  padding-left: 4px;
}

.post-second-row {
  vertical-align: bottom;
}


.social-share {
  text-align: right;
  padding-right: 0 !important;
}

.post-image {
  max-width: 300px;
}

@media only screen and (max-width: 40em) {
  .social-share {
    margin-top: 40px;
  }

  .comments {
    margin-left: 10px;
    max-width: 380px;
  }
}

.chosen-choices {
  font-size: 14px;
}

#post-link {
  margin-top:16px;
}