/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'colors';
@import 'foundation_and_overrides';

.leave-community-form {
  display: inline;
  vertical-align: middle;
}

.icon.leave-community {
  margin-bottom: 0;
  margin-top: 3px;
  //margin-left: 20px;
}

ul.communities {
  list-style: none;

  li {
    h4 {
      display: inline-block;
    }
  }
}

.sweet-alert.showSweetAlert.visible {
  border-radius: 0;

  button {
    border-radius: 0;
  }

  button.cancel {
    background-color: $light-gray;
  }

  button.confirm {
    background-color: $alert-color !important;
  }
}

.user-posts {
  list-style: none;

  .post-title {
    font-size: 16px;
  }

  .post-text {
    padding-left: 10px;
  }

  .post-location {
    padding-left: 10px;
    font-size: 0.8rem;
    color: $gray;
  }

  .post-communities {
    padding-left: 10px;
    display: inline;
  }

  li {
    padding: 10px 5px;
    margin: 20px 0px;
  }
}

.tiny.icon.edit-profile {
  margin-top: 40px;
}

.shadow-list {
  background-color: $white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@import "foundation/components/tabs";

.tab-title.active {
  border-bottom: 2px solid $hse-maroon;
  &:hover {
    border-bottom: 2px solid $hse-maroon;
  }
  margin: 0 2px;
}

.tab-title:hover {
  border-bottom: 2px solid $hse-maroon;
}
