<div class="small-12 large-12 columns">

  <h2 class="page-title">Organizations</h2>

  <%= link_to new_organization_path, class: 'button small' do %>
    <%= image_tag 'plus-icon.svg', class: 'ty-icon' %>
    &nbsp;
    New Organization
  <% end %>

  <ul class="organizations no-disc">
    <% @organizations.each do |organization| %>
      <li><%= link_to organization.name, organization %></li>
    <% end %>
  </ul>


  <br/><br/>
</div>