<ol class="joyride-list" data-joyride>
  <li data-id="changePassowrd" data-text="Next" data-options="tip_location: left; prev_button: false">
    <p>Click here to change your password.</p>
  </li>
  <li data-id="user_photo" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Everyone wants to see your smiling face, why not upload a photo?</p>
  </li>
  <li data-id="user_username" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Choose a fun nickname for the BCN.</p>
  </li>
  <li data-id="userWebLinks" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Let others know where else they can find you.</p>
  </li>
  <li data-id="bio" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Tell us about yourself in your own words.</p>
  </li>
  <li data-id="notificationSettings" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Choose how often the BCN site notifies you.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Thank you!</h4>
    <p>Use the Tour link anytime to find out more about a page.</p>
  </li>
</ol>
