<ol class="joyride-list" data-joyride>
  <li data-id="organization_color" data-text="Next" data-options="tip_location: left; prev_button: false">
    <p>The color is used to customize the map pins as well as events and posts.</p>
  </li>
  <li data-id="Default_Location" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Set a default location by searching the map by name.</p>
  </li>
  <li data-id="orgDescription" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Add a rich text description of your organization. You can write text, embed videos, photos, etc and also link to other sites.</p>
    <p>
      This field uses the <a href="http://lab.lepture.com/editor/markdown" target="_blank">Markdown</a> format to display your content.
    </p>
  </li>
  <li data-id="organization_events_url" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>This is a link to your organization's online calendar.  BCN can automatically create Events using the iCal format.</p>
    <p>
      If you would like some help with this syncing your events <a href="/contact" target="_blank">please let us know</a>.
    </p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Thank you!</h4>
    <p>Use the Tour link anytime to find out more about a page.</p>
  </li>
</ol>
