<ol class="joyride-list" data-joyride>
  <li data-id="socialLogins" data-text="Next" data-options="tip_location: left; prev_button: false">
    <p>Log in with one of your existing social media accounts.</p>
  </li>
  <li data-id="email" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>You can also log in through email.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Thank you!</h4>
    <p>Use the Tour link anytime to find out more about a page.</p>
  </li>
</ol>
