<ol class="joyride-list" data-joyride>
  <li data-id="newPost" data-text="Next" data-options="tip_location: left; prev_button: false">
    <p>Hello and welcome to the Boone Community Network.<br/> Click here to create an Event or Post.</p>
  </li>
  <li data-id="events-tab" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Here is a list of upcoming events in the Boone area.</p>
  </li>
  <li data-id="posts-tab" data-button="Next" data-prev-text="Prev" data-options="tip_location:left;">
    <p>This is a list of recent posts by members of the Boone community.</p>
  </li>
  <li data-id="home_loc_search" data-button="Next" data-prev-text="Prev" data-options="tip_location:bottom;">
    <p>Use this field to search for a location on the map by name.</p>
  </li>
  <li data-id="timeButtons" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <p>These buttons fiter the Events by time.</p>
  </li>
  <li data-id="communityButtons" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;">
    <p>These buttons fiter the Events by Community.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Thank you!</h4>
    <p>Use the Tour link anytime to find out more about a page.</p>
  </li>
</ol>
