<ol class="joyride-list" data-joyride>
  <li data-id="badges" data-text="Next" data-options="tip_location: left; prev_button: false">
    <p>Collect badges as you use the BCN website.</p>
  </li>
  <li data-id="edit_user" data-class="custom so-awesome" data-options="tip_location: left;" data-text="Next" data-prev-text="Prev">
    <p>Click here to edit your profile.</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Thank you!</h4>
    <p>Use the Tour link anytime to find out more about a page.</p>
  </li>
</ol>
